
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div id="grid">
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
                $.ajax({
                    cache: false,
                    type: "GET",
                    url: '/Students/FromAjax',
                    success: function (data) {
                        $('#grid').html(data);
                    }
                });
        });
    </script>
}
